<% provide(:title, "Home") %>
<!DOCTYPE>
<% if logged_in? %>
  <div class="row">
    <aside class="col-md-4">
      <%= render 'shared/home_when_logged_in' %>
    </aside>
    <div class= "col-md-8">
      <h3>Micropost Feed</h3>
      <%= render 'shared/feed' %>
    </div>
  </div>
<% else %>
  <%= render 'shared/home_when_not_logged_in' %>
<% end %>